@{
    ViewBag.Title = "Garage 2.5";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Detta är den perfekta appen för att parkera fordon och hantera kvitton vid utcheckning av fordon.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Först...</h2>
        <p>
            Här parkeras bilar, motorcyklar, flyplan och båtar för bara 13,50 kr per timme.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Säker förvaring av dina fordon</h2>
        <p>Vi ser till att bara du har tillgång till ditt fordon.</p>
        <p><img src="../images/No_Admittance.png" /></p>
        
    </div>
    <div class="col-md-4">
        <h2>Öppet 24 timmar</h2>
        <p>Du har frihet att checka in eller checka ut ditt fordon när du vill.</p>
        
    </div>
</div>